//Typography
$default-font-family: 'Open Sans', sans-serif;

$font-size: 150% !default; // percentage value (16 * 112.5% = 18px)
$line-height: 187.5% !default; // percentage value (16 * 162.5% = 30px)
$font-base: 24; // base font-size in pixels to work with in font-size mixins

$framework-max-width: 1280px;