<footer class="fika-footer">
    <img src="/assets/images/swedish-fika-alt-logo.svg">
    <p>Powered by 
        <a class="icon-ghost" href="http://tryghost.org">
            <img src="/assets/images/ghost-icon.svg" alt="Ghost">
        </a>
    </p>
</footer>