@media screen{
    html{
        background: $base-bg url(../images/cozy-txture.png) repeat;
    }
    body{
        font-family: "nimbus-sans", Helvetica, sans-serif;
        font-weight: lighter;
    }
    main,
    .fika-header{
        max-width: $framework-max-width;
        margin: 0 auto;
    }
    main{
        /*padding: 0 16%;*/
    }
    .fika-header{
        text-align: center;
        height: 2em;
    }
    .fika-header h1{
        margin: 0;
        padding: 1.5% 0 0 0;
    }
    .fika-footer{
        text-align: center;
    }

    .weighty-post-header{
        position: relative;
        top: -2em;
        padding:15% 0;

        a,
        h1{
            font-family: 'Jubilat', Georgia, serif;
            @include font-size(32/$font-base, 29/$font-base);
            color: $header;
            margin:15% 0;
            text-decoration: none;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            width:100%;
            max-width: 1280px;
            min-width: 60px;
            overflow:hidden;
            margin: 0 auto;
        }
    }
}
@media (min-width: 600px) {
    .weighty-post-header{
        a,
        h1{
            @include font-size(42/$font-base, 38/$font-base);
        }
    }
}
@media (min-width: 800px) {
    .weighty-post-header{
        a,
        h1{
            @include font-size(83/$font-base, 76/$font-base);
            margin:7% 0;
        }
    }
}