html, body{
    color: $text;
}
html{
    border-top: 4px solid $dark;
    background-color: $base-bg;
    font-size: $font-size;
}
body{
    margin: 0 auto;
}
a{

}
img{
    max-width: 100%;
}
h1 {

}
h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}
p,
pre {

}
legend{

}
label,
input, 
textarea{
    display: block;
}
input, 
textarea{
    width: 100%;
    @include prefixer(box-sizing, border-box, moz webkit);
    margin:0 0 calc-percent(13, 600);
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 5px;
}
textarea{
    resize:none;
}
label{
    font-weight: bold;
}
article h1{
    text-align: center;
}