.home-template .post-header a{
    text-decoration: none;
    color: $header;
}
.featured-post header{
    padding-bottom:30%;

/*    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    z-index: -1;
    width:100%;
    max-width: 1280px;
    min-width: 60px;
    overflow:hidden;
    margin: 0 auto;
    padding:10% 0;*/
}
/*.featured-image{
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    z-index: -1;
    width:100%;
    max-width: 1280px;
    min-width: 60px;
    overflow:hidden;
    margin: 0 auto;
}*/