/* Import all partials */
html, body {
  color: #666565;
}

html {
  border-top: 4px solid black;
  background-color: #f6f6f6;
}

body {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 0 calc-percent(13, 600);
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 5px;
}

textarea {
  resize: none;
}

label {
  font-weight: bold;
}

article h1 {
  text-align: center;
}

@media screen {
  html {
    background: #f6f6f6 url(../images/cozy-txture.png) repeat;
  }

  body {
    font-family: "nimbus-sans", Helvetica, sans-serif;
    font-weight: lighter;
  }

  main,
  .fika-header {
    max-width: 1280px;
    margin: 0 auto;
  }

  main {
    padding: 0 16%;
  }

  .fika-header {
    text-align: center;
    background-color: #9f978f;
  }

  .fika-header h1 {
    margin: 0;
    padding: 3% 0 0 0;
  }

  .fika-footer {
    text-align: center;
  }
}
.post-title {
  font-family: "Jubilat", Georgia, serif;
  font-size: 83px;
  line-height: 76px;
  font-size: 3.45833rem;
  line-height: 3.16667rem;
}
